.rounded-base-sm {
  border-radius: var(--radius-sm) !important;
}
.rounded-base-md {
  border-radius: var(--radius-md) !important;
}
.rounded-base-lg {
  border-radius: var(--radius-lg) !important;
}
